:root{
--bg:#f2f2f2;
--card:#ffffff;
--text:#111;
}


.dark{
--bg:#121212;
--card:#1e1e1e;
--text:#eee;
}


body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:var(--bg);
color:var(--text);
}


header{
padding:15px;
background:#0d6efd;
color:white;
display:flex;
justify-content:space-between;
align-items:center;
}


.card{
margin:15px;
padding:15px;
background:var(--card);
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
}
button{
padding:8px 12px;
border:none;
border-radius:8px;
background:#0d6efd;
color:white;
cursor:pointer;
}


#roleSwitcher{
position:fixed;
bottom:10px;
right:10px;
z-index:9999;
}
